@charset "utf-8";
/* CSS Document */

/* fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-regular.eot');
    src: url('../fonts/ubuntu-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular.woff2') format('woff2'),
         url('../fonts/ubuntu-regular.woff') format('woff'),
         url('../fonts/ubuntu-regular.ttf') format('truetype'),
         url('../fonts/ubuntu-regular.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:"Roboto", Arial;
	font-size:16px;
	color:#333333;
	box-sizing:border-box;
}

::-webkit-input-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:14px; }
::-moz-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:14px; } /* firefox 19+ */
:-ms-input-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:14px; } /* ie */
input:-moz-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:14px; }
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0.5;
}
.divLogin form input.usuario::-webkit-input-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:32px; }

#loader{
	position: fixed;
	display: block;
	width: 800px;
	height: 100%;
	top: 0;
	left: 0;
	padding: 550px 0 0 332px;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.7);
}
#loader p{
	width: 128px;
	height: 300px;
	text-align: center;
}

#msg-ok{
	position: fixed;
	display: block;
	width: 800px;
	height: 100%;
	top: 0;
	left: 0;
	padding: 316px 0 0 0;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
}
#msg-ok .box{
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	padding: 16px;
}
#msg-ok .box p{
	text-align: center;
	margin: 16px 48px 16px 48px;
}

#msg-yn{
	position: fixed;
	display: block;
	width: 800px;
	height: 100%;
	top: 0;
	left: 0;
	padding: 316px 0 0 0;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
}
#msg-yn .box{
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	padding: 16px;
}
#msg-yn .box p{
	text-align: center;
	margin: 16px 48px 16px 48px;
}


.btnOk{
	background: #eb8202;
	color: #fff;
	font-family: "Roboto", Arial;
	font-size: 28px;
	height: 72px;
	width: 276px;
	border: none;
	padding: 5px 32px 0 32px;
	cursor: pointer;
	margin: 15px 0 15px 0;
}
.btnY{
	background: #6A9B53;
	color: #fff;
	font-family: "Roboto", Arial;
	font-size: 28px;
	height: 72px;
	width: 276px;
	border: none;
	padding: 5px 32px 0 32px;
	cursor: pointer;
	margin: 15px 50px 15px 0;
	float: right;
}
.btnN{
	background: #9C2F19;
	color: #fff;
	font-family: "Roboto", Arial;
	font-size: 28px;
	height: 72px;
	width: 276px;
	border: none;
	padding: 5px 32px 0 32px;
	cursor: pointer;
	margin: 15px 0 15px 50px;
	float: left;
}






.container{
	background-color: #ebebeb;
    float: left;
    clear: both;
    width: 100%;
    min-height: 1255px;
}
.wrap{
	margin:0 auto;
	width:100%;
}
.divHeader {
	height:auto;
	position: fixed;
	top: 0;
	z-index: 90;
	float: left;
	width: 100%;
	left:0;
}


.divHeader .logo a{
	text-indent:-9999px;
	background:url(../img/logo.png) no-repeat;
	width:178px;
	height:124px;
	float:left;
	margin:15px 0 0 20px;
}
.divHeader .logoPref{
	float:right;
	background:url(../img/logoPrefeitura.png) no-repeat;
	width:183px;
	height:83px;
	text-indent:-9999px;
	margin:50px 40px 0 0;
}
.divHeader .menuTop{
    border-bottom: 34px solid #ebebeb;
    border-left: 21px solid transparent;
    border-right: 0 solid transparent;
    height: 0;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.divHeader .menuTop ul{
	float:left;
	margin:0;
	padding:0 0 0 10px;
}
.divHeader .menuTop ul li{
	font-family:"Ubuntu", Arial;
	color:#666;
	text-decoration:none;
	font-size:13px;
	
	list-style: none;
    display: inline;
    margin: 9px 8px 8px 9px;
    float: left;
}
.divHeader .menuTop ul li a{
	font-family:"Ubuntu", Arial;
	color:#666;
	text-decoration:none;
	font-size:13px;
	padding:0 10px 0 0;
	float:left;
}
.divHeader .menuTop ul li a{
	background:url(../img/bgLista.gif) no-repeat right;
}
.divHeader .menuTop ul li:last-child a{
	background:none;
}
.divHeader .divNav{
	background:#fff;
	float:left;
	width:100%;
	padding:0 0 12px 0;
    margin: 0;
	height:60px;
}
.divHeader .divNav button{
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    float: left;
    
}
.divHeader .divNav button.button_aba{
	float: right;
}

.divHeader .divMenu{
	background:#737373;
	float:left;
	width:100%;
	padding:0;
    margin: 0;
	height:60px;
}
.divHeader .divMenu ul{
    float: left;
    padding: 5px 0 0 15px;
}
.divHeader .divMenu ul li{
	display: inline;
    list-style: none;
    border-right: 1px solid #888888;
    float: left;
    margin: 8px 0 0 20px;
}
.divHeader .divMenu ul li:last-child{
	border-right:none;
}
.divHeader .divMenu button{
    font-family: "Roboto", Arial;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    padding: 13px 100px 8px 121px;
    float: left;
    background: none;
    border: none;
}
.divHeader .divMenu ul li a.menuPainel{
	background:url(../img/icoMenuPainel.png) no-repeat 0 3px;
}
.divHeader .divMenu ul li a.menuCadastro{
	background: url(../img/icoMenuTodos.png) no-repeat 0 3px;
}
.divHeader .divMenu ul li a.menuLocalizar{
	background:url(../img/icoMenuBusca.png) no-repeat 0 3px;
}
.divHeader .divMenu ul li a.menuNovo{
	background:url(../img/icoMenuNovo.png) no-repeat 0 3px;
}

.divMiolo{
	float:left;
	clear:both;
	position:relative;
	width:100%;
	height:auto;
	font-family:"Roboto", Arial;
}
.divMiolo h2{
	font-family:"Roboto", Arial;
	font-size:22px;
	float:left;
	width:100%;
	margin:15px 0 20px 35px;
}
.wrapLogin{
	border-top: 5px solid #eb8202;
	background-color: #fff;
	margin: 0;
	width: 100%;
	overflow: hidden;
	padding: 300px 0 0 0;
}
.divLogin{
	/*border-top:5px solid #eb8202;*/
	margin-top:49px;
	margin-bottom:50px;
	background:#fff;
	padding:0;
	float:left;
	width: 100%;
}
.divMiolo .divLogin h2{
	color:#eb8202;
	font-family:"Roboto", Arial;
	font-size:16px;
	float:left;
	width:100%;
}
.divMiolo .divLogin .formLogin{
	float:left;
	width:270px;
}
.divMiolo .divLogin .infoLogin{
	float: left;
    width: 266px;
    padding: 0 0 0 53px;
}
.divMiolo .divLogin .infoLogin h3{
	font-weight:bold;
	font-size:16px;
	font-family:"Roboto", Arial;
}
.divMiolo .divLogin .infoLogin p{
	font-size:14px;
	font-family:"Roboto", Arial;
	padding:15px 0 0 0;
}
.divMiolo .divLogin form{
	float:left;
	width:270px;
	border:none;
	margin:30px 0 0 0;
}
.divMiolo .divLogin form .recuperar{
	color:#eb8202;
	text-decoration:underline;
	font-family:"Roboto", Arial;
	font-size:14px;
	float:right;
	margin:10px 0 0 0;
}

#container_form{
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
}

.wrapInternas{
	margin:0 auto;
	width: 32%;
}
.divInternas{
	padding:30px 30px 30px 50px;
	float:left;
}
.divInternas h2{
	font-size:22px;
	padding:8px 0 8px 0;
	margin:0 0 0 0;
	font-weight:bold;	
}
.divInternas h3{
	font-size:20px;
	padding:8px 0 8px 0;
	margin:0 0 0 0;
	font-weight:bold;
}
.divInternas h4{
	font-size:18px;
	padding:5px 0 8px 0;
	margin:0 0 0 0;
	font-weight:bold;
}
.divInternas p{
	padding:10px 0 0 0;
}
.divInternas form{
	margin:30px 0 0 0;
	float:left;
	border:none;
}
.msgParabens{
	background:#04c7ce;
	color:#fff;
	height:40px;
	margin: 20px 0 20px 0;
	clear:both;
	display:block;
	float:left;	
	width: 100%;

}
.msgParabens .ico{
    float: left;
    background: url(../img/icoOk.png) no-repeat 6px 6px;
    height: 40px;
    width: 45px;
    border-right: 1px solid #5ddbdf;
}
.msgParabens p{
    float: left;
    padding: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
}
.msgInfo{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background:#04ce9b;
	color:#fff;
	height:40px;
	margin:0 auto;
	margin-top:20px;
	clear:both;
	float:left;	
}
.msgInfo .ico{
    float: left;
    background: url(../img/icoInfo.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
    border-right: 1px solid #5ddbdf;
}
.msgInfo p{
    float: left;
    padding: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
}
.msgErro{
	background:#ff6766;
	color:#fff;
	min-height:40px;
	margin: 20px 0 20px 0;
	clear:both;
	float:left;	
	width: 100%;
}
.msgErro .ico{
    float: left;
    background: url(../img/icoErro.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
    /*border-right: 1px solid #ff9d9c;*/
    
}
.msgErro p{
    /*float: left;*/
    margin: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
    
}
.msgAtencao{
	background:#ffb527;
	color:#fff;
	height:40px;
	margin: 20px 0 20px 0;
	clear:both;
	float:left;	
	width: 100%;
}
.msgAtencao .ico{
    float: left;
    background: url(../img/icoWarning.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
    border-right: 1px solid #ffcf73;
}
.msgAtencao p{
    float: left;
    padding: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
}
.msgAtividadeEncerrada{
	background:#FFD000;
	color:#fff;
	height:40px;
	margin: 20px 0 20px 0;
	clear:both;
	float:left;	
	width: 100%;
}
.msgAtividadeEncerrada .ico{
    float: left;
    background: url(../img/icoWarning.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
    border-right: 1px solid #ffcf73;
}
.msgAtividadeEncerrada p{
    float: left;
    padding: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
}
.msgWhite{
    clear: both;
    margin: 0 auto;
	float:left;
}
.msgWhite p.parabens{
	color:#04c7ce;
}
.msgWhite p.info{
	color:#04ce9b;
}
.msgWhite p.erro{
	color:#ff6766;
}
.msgWhite p.atencao{
	color:#ffb527;
}
.msgWhite span.icoParabens{
    float: left;
    background: url(../img/icoOk-on.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
}
.msgWhite span.icoInfo{
    float: left;
    background: url(../img/icoInfo-on.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
}
.msgWhite span.icoErro{
    float: left;
    background: url(../img/icoErro-on.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
}
.msgWhite span.icoAtencao{
    float: left;
    background: url(../img/icoWarning-on.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
}
.wrapInternas form, .wrapInternas form fieldset{
	margin:0;
	border:none;
	float:left;
	clear:both;
	width:100%;
}
.wrapInternas form legend{
	display:none;
}
.wrapInternas .contentAba{
	background:#fff;
	float:left;
	width:94%;
	padding:3%;
}
.wrapInternas .contentAba .alignLeft{
	font-family:"Roboto", Arial;
	font-size:14px;
	float:left;
	width:50%;
}
.wrapInternas .contentAba .alignRight{
	font-family:"Roboto", Arial;
	font-size:14px;
	float:left;
	width:50%;
}
.wrapInternas h3{
	font-size:18px;
	color:#eb8202;
	float:left;
	width:100%;
	margin:20px 0 20px 0;
}
.comboStilo{
	/*position:relative;*/
}
.selectDefault{
	float:left;
	width:100%;
}
.selectDefault.tipo .selectInicial{
	width:60%;
}
.selectDefault.dias{
	width:100%;
}
.selectDefault.dias .selectInicial{
	width:120px;
	float:right;
}
.selectDefault .titSang{
	float: left;
    width: 100%;
    padding: 20px 5px 0 0;
    margin: 8px 5px 8px 0;
}
.selectDefault .titExibir{
	float:left;
	width:176px;
	padding:0 5px 0 249px;
	margin:8px 5px 0 0;
}
.selectDefault .titCadastro{
	float:left;
	width:176px;
	text-align:left;
	padding:0 5px 0 0;
	margin:8px 5px 0 5px;
}
.selectDefault .titDoses{
	float:left;
	width:96px;
	text-align:right;
	padding:0 5px 0 0;
	margin:8px 5px 0 0;
}
.linhaForm{
	float:left;
	clear:both;
	margin:13px 0 0 0;
	width:100%;
}
.linhaForm .readOnly{
	margin-top: 7px;
	font-weight:bold;
	float:left;
	display:inline-block;
	width:75%;
}

.linhaForm .readOnly.w10{
	max-width:10%;
	width:auto;
	overflow:hidden;
	margin-right:20px;
}

.linhaForm .titLabel{
	font-size: 20px;
	float: left;
	width: 100%;
	margin: 20px 5px 10px 0;
	padding: 0 34px 0 0;

}
.linhaForm .checkbox{
	float:left;
	padding:0;
	margin:-5px 0 0 0;
	width: 50%;
}
.linhaForm .radio{
	float:left;
	padding:0;
	margin:-5px 0 0 0;
	width: 50%;
}
.leftForm{
	float:left;
	width:30%;
}
.rightForm{
	float:right;
	width:70%;
}
.onoff{
	float:left;
}
span.unidade{
	float:left;
	padding:5px 10px 0 8px;
	width:40px;
}
.contentAbaBorda{
	border-top: 7px solid #eb8202;
	background: #fff;
	float: left;
	width: calc(100% - 32px);
	padding: 0;
	margin: 45px 16px 25px 16px;
}
.contentAbaBorda > .contentAbaBorda{
	border-top: 7px solid #eb8202;
	background: #fff;
	float: left;
	width: calc(100% - 32px);
	padding: 0;
	margin: 45px 0 25px 0;
}
.inputPeq{
	font-size: 20px;
	background: #ebebeb;
	height: 70px;
	padding: 3px 0 0 10px;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left: none;
	border-right: none;
	border-bottom: none;
	width: 56%;
	
}
#ficha-statica {
	margin: 120px 16px 25px 16px;
}
#ficha-statica #info-basica {
    margin: 0 0 -65px 0;
    min-height: 270px;
}
p.info-basica{
	font-size: 16px;
    line-height: 20px;
}
.foto-cidadao {
    float: left;
    margin: 0 70px 5px 0;
    max-width: 220px;
}
/*.usuario{
    height: 60px;
    padding: 4px 16px 4px 16px;
    margin-top: 16px;
}

.senha{
    height: 60px;
    padding: 4px 16px 4px 16px;
    margin-top: 16px;
}*/

.inputMed{
	background:#ebebeb;
    height: 60px;
	padding:3px 0 0 10px;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:100%;
	float:left;
}
.inputFocus{
	border:1px solid #eb8202 !important;
}
.divCenter{
	float:left;
	margin:10px 0 30px 270px;
	clear:both;
}
/*.btnAdicionar{
	background:#eb8202;
	border:none;
	float:left;
	margin:0 0 0 5px;
	color:#fff;
	padding:8px 20px 8px 20px;
	cursor:pointer;
}*/
.btnLupa{
	background: url(../img/icoLupa.gif) no-repeat;
	border:none;
	float:left;
	margin:0 0 0 5px;
	color:#fff;
	padding:8px 20px 8px 20px;
	cursor:pointer;
	width:36px;
	height:34px;
	text-indent:-9999px;
}
.inputGrande{
	font-size: 20px;
	background: #ebebeb;
	height: 70px;
	padding: 0px 0 0 16px;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left: none;
	border-right: none;
	border-bottom: none;
	width: calc(100% - 16px);
	float: left;
}
.inputExtendido{
	font-size: 20px;
	background: #ebebeb;
	height: 70px;
	padding: 0px 0 0 16px;
	margin: 0 3px 0 0;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left: none;
	border-right: none;
	border-bottom: none;
	width: calc(50% - 19px);
	float: left;
}
.inputMedio{
	font-size: 20px;
	background: #ebebeb;
	height: 70px;
	padding: 0px 0 0 16px;
	margin: 0 3px 0 0;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left: none;
	border-right: none;
	border-bottom: none;
	width: calc(33% - 19px);
	float: left;
}
.inputAdiciona{
	background:#ebebeb;
    height: 32px;
	padding:3px 0 0 10px;
	margin:15px 0 0 185px;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:500px;
	float:left;
}
.btnIcoAdicionar {
    border: none;
    color: #fff;
    cursor: pointer;
    background: url(../img/icoAdd.png) no-repeat;
    background-size: 60px 60px;
    float: left !important;
    width: 60px !important;
    height: 60px !important;
    padding: 0 0 0 0 !important;
    margin: 5px 0 0 5px !important;
    text-indent: -9999px !important;
}
.btn-remover{
	background:url(../img/icoExcluir.png) no-repeat;
	border: none;
    color: #fff;
    cursor: pointer;
    background-size: 60px 60px;
    float: left !important;
    width: 60px !important;
    height: 60px !important;
    padding: 0 0 0 0 !important;
    margin: 5px 0 0 5px !important;
    text-indent: -9999px !important;
}
.partridge{
	background:#ebebeb;
    height: 32px;
	padding:3px 0 0 10px;
	color: #999999;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:70px;
	float:left;
}
.buttonInc{
	background:#787879;
	width:24px;
	height:31px;
	float:left;
	margin:0 0 0 1px;
	color:#fff;
	font-weight:bold;
	font-family:Arial;
	font-size:28px;
	padding:0 0 0 7px;
	cursor:pointer;
}
.diminuir{
	padding:0 0 5px 12px;
	height:26px;
}
.menuFixo{
	/*background:#737373;*/
	float:left;
	width:60%;
	/*-webkit-box-shadow: 10px 17px 41px -23px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 17px 41px -23px rgba(0,0,0,0.75);
	box-shadow: 10px 17px 41px -23px rgba(0,0,0,0.75);
	position:relative;*/
}
.menuFixo.fixed{
	position:fixed;
	top:0;
	left:0;
	z-index:99;
}
.menuFixo .nomeCompleto{
	font-size: 18px;
	float: right;
	text-align: right;
	width: 60%;
	color: #fff;
	padding: 20px 15px 10px 0;
}
.menuFixo .nomeSocial{
	font-size: 18px;
	float: left;
	text-align: left;
	width: 40%;
	padding: 20px 0 0 30px;
	color: #fff;
}
.menuFixo .abreMenu{
	background:url(../img/icoMenuFico.png) no-repeat;
	width:56px;
	height:56px;
	float:left;
	cursor:pointer;
}
.menuFixo .relativeDiv{
	float:left;
	position:relative;
}
.menuFixo ul.lstMenuFixo{
	float:left;
	position:absolute;
	top:45px;
	left:0;	
	background:#eb8202;
	width:282px;
	z-index:99;
	padding:0 0 20px 0;
	display:none;
}
.menuFixo ul.lstMenuFixo li{
	display:block;
	background:#eb8202;
	font-family:"Roboto", Arial;
	font-size:14px;
	color:#fff;
	float:left;
	width:100%;	
}
.menuFixo ul.lstMenuFixo li.titMenuFixo{
	font-size:24px;
	border-bottom:1px solid #fff;
	padding:5px;
	text-align:left;
	margin:19px 10px 3px 25px;
	width:225px;
}
.menuFixo ul.lstMenuFixo li a{
	color:#fff;
	font-family:"Roboto", Arial;
	font-size:14px;
	text-decoration:none;
	padding:8px 5px 10px 25px;
	float:left;
	width:235px;	
}
.menuFixo ul.lstMenuFixo li a:hover{
	text-decoration:underline;
}
/*SELECT PERSONALIZADO*/
/*.selectInicial{
	background: url(../img/bgSelect.gif) right 10px no-repeat #ebebeb;
	border-top:2px solid #dedede;
	color:#454545;
	font-style:italic;
	font-size:15px;
	padding:7px 0 0 10px;
	width:30%;
	height:26px;
	float:left;
	cursor:pointer;
}
.selectPersonalizado{
    position: absolute;
    top: 35px;
    left: 185px;
    float: left;
    width: 271px;
    border-top: 1px solid #fff;
	display:none;
	z-index:1;
}*/

.contentAbaBorda h3{
	font-size: 28px;
}
.topAtividade{
	height: 120px;
	width: 100%;
}
.topAtividade h3{
	width: 400px;
	float: left;
	line-height: 28px;
}
.topAtividade .btnAlterar{
	float: right;
	margin: 10px 0 0 0;
	display: inline-block;
	clear: none;
}

.dias .selectPersonalizado{
	left:106px;
	width:129px;
}
.dias .selectPersonalizado li{
	left:106px;
	width:115px;
}
.tipo .selectPersonalizado{
	width:375px;
}
.tipo .selectPersonalizado li{
	width:361px;
}
.exibir .selectInicial{
	width:55px;
}
.exibir .selectPersonalizado{
	width:60px;
	left:550px;
}
.exibir .selectPersonalizado li{
	width:50px;
}
.selectPersonalizado li{
	background:#eeeeee;
	color:#454545;
	list-style:none;
	float:left;
	width:256px;
	padding:9px 0 5px 15px;
	cursor:pointer;
	font-style:italic;	
}
.selectPersonalizado li:hover{
	background:#999999;
	color:#fff;
	font-style:italic;
}
.menuAbas{
	margin-top: -50px;
	height: 1255px;
	float:right;
}
.menuAbas li{
	height: 75px;
	line-height: 75px;
	width: 100%;
	list-style:none;
	background:#333;
	margin:5px 0 5px 0;
    padding: 0 5px 0 18px;	
    cursor:pointer;
	display: block;
	color: #fff;
	border-right: 1px solid #eb8202;
	text-align: right;
}

.menuAbas li .number{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float:left;
	width:15px;
	height:18px;
	background:#b9b9b9;
	color:#fff;
	font-family:"Roboto", Arial;
	font-size:14px;
	padding:2px 0 0 5px;

}
.menuAbas li.active .number{
	background:#eb8202;
	margin:1px 0 0 0;
}

.active{
    background: #F7F7F7;
    height: 40px;
    line-height: 27px;
    width: 100%;
    padding: 3px 0 0 4px;
    float: left;
    font-family: "Roboto", Arial;
    font-size: 24px;
    color: #b9b9b9;
    text-decoration: none;
    margin: 10px 5px 0 0;
    padding: 11px 18px 10px 18px;
    word-wrap: break-word;


}





.btnEntrar{
	background: #eb8202;
	color: #fff;
	font-family: "Roboto", Arial;
	font-size: 28px;
	height: 72px;
	width: 276px;
	border: none;
	padding: 5px 32px 0 32px;
	cursor: pointer;
	margin: 15px 0 15px 0;
	float: right;
}
.btnAlterar{
	font-family: "Roboto", Arial;
	font-size: 24px;
	height: 70px;
	background: #eb8202;
	border: none;
	color: #fff;
	padding: 8px 16px 8px 16px;
	cursor: pointer;
	margin: 42px 0 15px 0;
	clear: both;
	float: right;
}
.btnSalvar{
	font-family: "Roboto", Arial;
	font-size: 24px;
	height: 60px;
	background: #eb8202;
	border: none;
	color: #fff;
	padding: 8px;
	cursor: pointer;
	margin: 0 0 0 0;
	float: right;
}
.btnLimpar{
	font-family: "Roboto", Arial;
	font-size: 24px;
	height: 70px;
	background: #eb8202;
	border: none;
	color: #fff;
	padding: 8px 16px 8px 16px;
	cursor: pointer;
	margin: 10px 0 15px 0;
	clear: both;
	float: right;
}

/* Pagination */
/* ---------------------------------------------------------- */

#pagination{
	float:left;
	width:100%;
	clear:left;
	margin:50px 0;
}

#pagination ul{
	margin:0;
	padding:0;
	text-align:center;
}

#pagination li{
	display:inline-block;
}

#pagination li a{
	display:inline-block;
	padding:10px 15px;
	background:#e5e5e5;
	color:#666666;
	font-family:"Roboto", Arial;
	text-decoration:none;
}

#pagination li a:hover{
	background:#737373;
	display:inline-block;
	color:#fff ;
}
#pagination li a.current-pagination{
	background:#737373;
	display:inline-block;
	color:#fff;
}

#pagination li a.last{
	border:0;
	display:inline-block;
	padding:10px 15px;
}

#pagination li a:hover.last{
	border:0;
	background:#fff;
	color:#000;
	display:inline-block;
}
#pagination li a.btnext{
	background: url(../img/icoPagNext.png) no-repeat;
	padding:10px 21px;
	margin:0;
	text-indent:-9999px;	
}
#pagination li a.btnext.deactivate{
	background: url(../img/icoPagNext-off.png) no-repeat;
}
#pagination li a.btprev{
	background: url(../img/icoPagPrev.png) no-repeat;	
	padding:11px 19px;
	margin:0;
	text-indent:-9999px;
}
#pagination li a.btprev.deactivate{
	background: url(../img/icoPagPrev-off.png) no-repeat;
}

/*TABELA*/
.tableCadastro{
	float:left;
	clear:both;
	width:100%;
	margin:30px 0 0 0;
	padding: 0;
}
.tableCadastro table{
	width:100%;
}
.tableCadastro table tr.active{
	background:#fde3c3 !important;
}
.tableCadastro table tr th{
	background:#999999;
	color:#fff;
	text-align:left;
	padding:8px 8px 8px 18px;
}
.tableCadastro table tr th a{
	color:#fff;
	text-decoration:underline;
	text-align:left;
}
.tableCadastro table tr td{
	color:#333;
	text-align:left;
	padding:8px 8px 8px 20px;
	font-family:"Roboto", Arial;
	font-size:16px;
}
.tableCadastro .icoBandeira{
	background:url(../img/icoBandeira.png) no-repeat;
	float:left;
	width:27px;
	height:22px;
	padding:0 5px 0 0;
}
.bandeiraon{
	display:none;
}
/*.tableCadastro .icoBandeira:hover{
	background:url(../img/icoBandeira-on.png) no-repeat;
}*/
.tableCadastro .icoBandeira.active{
	background:url(../img/icoBandeira-on.png) no-repeat;
}
.tableCadastro .icoEdit{
	background:url(../img/icoEdit.png) no-repeat 0 1px;
	float:left;
	width:30px;
	height:30px;
	padding:0 8px 0 0;	
}
.tableCadastro .icoAdd{
	background:url(../img/icoAdd.png) no-repeat 0 1px;
	float:left;
	width:27px;
	height:22px;
	padding:0 8px 0 0;
}
.tableCadastro .icoDelete{
	background: url(../img/icoExcluir.png) no-repeat;
	float:left;
	width:27px;
	height:22px;
}
.btnEntrar.proximo{
	float:right;
	margin:-34px 0 30px 0;
}
.btnVoltar{
	background: url(../img/icoVoltar.gif) left no-repeat #999999;
	color:#fff;
	font-family:"Roboto", Arial;
	font-size:14px;
	height:35px;
	border:none;
	padding:5px 10px 0 50px;
	cursor:pointer;
	margin:35px 0 0 0;
	clear:both;
	float:left;
}
.checkbox .check{
	background: url(../img/icoCheck.gif) no-repeat;
	width:40px;
	height:40px;
	float:left;
	margin: 10px 8px 10px 0;
	cursor:pointer;
    
}
.checkbox p{
	float:left;
	padding: 10px 0px 10px 5px;
	
	width: auto;
	line-height: 40px;
}
.checkbox .check.active{
	width:40px;
	height:40px;
	float:left;
}
.radioButton{
	float:left;
	/* clear:both; */
}
.radioButton div.radio{
	width: 100%;
	height:auto;
}
.radioButton .radio{
	width:40px;
	height:40px;
	float:left;
	margin:8px 0 0 0;
	cursor:pointer;
}

.radioButton p{
	float:left;
    padding: 0px 10px 0px 6px;
    line-height: 60px;
    margin-right: 20px;
}
.radioButton .radio.active{
	width:40px;
	height:40px;
	float:left;
}
.divMiolo .divLogin form fieldset{
	float:left;
	width:270px;
	border:none;
	margin:0 0 0 0;
}
.divMiolo .divLogin form fieldset legend{
	display:none;
}
.divLogin form input.usuario{
	background: url(../img/icoUser.png) right no-repeat #ebebeb;
	border-top:2px solid #dddddd;
	color:#666666;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:calc(100% - 32px);
	height:70px;
	padding:4px 16px 4px 16px;
	float:left;
	clear:both;	
	font-size: 32px;
}
.divLogin form input.senha{
	background: url(../img/icoPassword.png) right no-repeat #ebebeb;
	border-top:2px solid #dddddd;
	color:#666666;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:calc(100% - 32px);
	height:70px;
	padding:4px 16px 4px 16px;
	float:left;
	clear:both;
	margin:8px 0 0 0;
}
.amount{
	float:left;
	width:200px;
	position:relative;
}
.amount .valorLeft{
	position:absolute;
	left:0;
	color:#666666;
	font-size:10px;
	bottom:14px;
	font-family:"Roboto", Arial;	
}
.amount .valorRight{
	position:absolute;
	right:0;
	color:#666666;
	font-size:10px;
	bottom:14px;
	font-family:"Roboto", Arial;	
}
#amount{
	position: relative;
	background: #eb8202;
	color:#fff;
	border:none;
	width:60%;
	text-align:center;
	margin:0 0 20px 17%;
	font-family:"Roboto", Arial;
}
.baloon{
	position: relative;
}
.baloon:after {
	top: 100%;
	left: 60%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(235, 130, 2, 0);
	border-top-color: #eb8202;
	border-width: 10px;
	margin-left: -10px;
}


.divLogo {
	width: 17.7%;
	min-height: 65px;
	padding: 12px 30px 0 0;
	float: left;
}
.logoPrefeitura {
	float: left;
	background: url(../img/logoPrefeitura-m.png) no-repeat;
	text-indent: -9999px;
	margin: -3px 0 0 0;
	height: 59px;
	width: 100%;
	max-width: 169px;
	background-size: 100%;
	background-position: 0% 50%;
}
.divAdress {
	width: 21.8%;
	min-height: 65px;
	padding: 10px 30px 0 30px;
	float: left;
	font-size: 1em;
	line-height: 1.175em;
	color:#cccccc;
}
.divAdress span {
	font-size: 0.875em;
	color:#cccccc;
}
.divContact {
	width: 26%;
	min-height: 65px;
	padding: 10px 30px 0 30px;
	float: left;
	font-size: 0.775em;
	line-height: 1em;
}
span.email-img {
	float: left;
	background: url(../img/i-mail.png) no-repeat;
	width: 78%;
	height: 30px;
	padding: 0 0 0 25px;
	margin: 10px 0 0 0;
	background-size: 15px 11px;
	background-position: 0 0;
}
span.phone-img {
	float: left;
	background: url(../img/i-fone.png) no-repeat;
	width: 78%;
	height: 16px;
	padding: 5px 0 0 25px;
	margin: 0;
	background-size: 16px 16px;
	background-position: 0% 25%;
	color:#c6c6c6;
}
.divSocial {
	width: 18%;
	min-height: 65px;
	padding: 20px 0 0 0;
	float: right;
	font-size: 0.775em;
	line-height: 1em;
}
.divSocial-item {
	width: 45px;
	margin: 0;
	float: right;
}

.facebook {
	background: url(../img/icofFB.png) no-repeat;
	float: left;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0 0 0 0;
}
/*.facebook:hover {
	background:  url(../img/social-face.png) 5px 0 no-repeat;
	margin: 0 5px 0 0;
}*/
.twitter {
	background: url(../img/icofTT.png) no-repeat;
	float: left;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0 0 0 0;
}

.youtube {
	background: url(../img/icofYT.png) no-repeat;
	float: left;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0 0 0 0;
}


/* #SUB-FOOTER */
.divSub-footer:after {
	clear: both;
}
.divSub-footer {
	background: #303030;
	position: relative;
	padding: 5px 0 0 0;
	margin: 0 auto;
	width: 100%;
	height: auto;
	min-height: 38px;
	float: left;
	z-index: 3;
}
.divSub-footer-core {
	display: block;
	color: #e0e0e0;
	width: 100%;
	max-width: 962px;
	margin: 0 auto;
	padding: 0px;
	overflow: hidden;
}
.divSub-footer-core, .divSub-footer-core a, .divSub-footer-core span {
	font-size: 0.9em;
}
.divSub-footer-core a {
	color: #e0e0e0;
}
.divSub-footer-core a:hover {
	color: #e0e0e0;
}
.copyright {
	margin: 0 auto;
	display: block;
	padding: 0;
}
.copyright-text {
	float: left;
	width: 65%;
	margin: 12px 0 12px 0;
	font-size: 11px;
	color:#e0e0e0;
}
.prodam-text {
	float: right;
	width: 148px;
	margin: 16px 10px 0 0;
	text-align: left;
	color:#e0e0e0;
	font-size: 10px;
}
.prodam-logo {
	float: right;
	width: 87px;
	text-align: left;
	font-size: 0.8em;
}
.logoProdam {
	float: right;
	background: url(../img/logoprodam.png) no-repeat;
	text-indent: -9999px;
	margin: 0 auto;
	height: 30px;
	max-width: 89px;
	width: 100%;
	background-size: 100%;
}
.onoffswitch {
    position: relative; 
	width: 72px;
	clear:both;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
	background: #FFFFFF;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
	behavior: url(../js/PIE.htc);
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Sim";
    padding-left: 10px;
    background-color: #67f4a1; color: #038e3b;
}
.onoffswitch-inner:after {
    content: "Não";
    padding-right: 10px;
    background-color: #bdbdbd; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 42px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
	background:#038e3b;
}
.landscapeForce{
	display:none;
}
.landscapeForce h2{
	margin:520px 0 0 190px;
	float:left;
	font-size:20px;
}

/* min-width */ 
@media screen and (max-width: 650px) { 
	.wrap{
		width:100%;
	}
	.divMiolo .divLogin{
		width:100%;
	}
	.divMiolo .divLogin .infoLogin{
		padding:33px 0 0 0;
	}
	.wrapInternas .contentAba .alignRight{

		clear:both;
		margin:5px 0 0 0;
	}
	.selectDefault .titSang{
		text-align:left;	
		width:140px;		
	}
	.selectDefault .titSang.tipo{
		text-align:left;	
		width:40px;		
	}
	.linhaForm .titLabel{
		text-align: left;
		width: 145px;
		padding: 0 0 0 0;
	}
	.linhaForm .titLabel.filtros{
		text-align: left;
		width: 120px;
		padding: 0 0 0 0;
	}
	.inputGrande{
		width:268px;
	}
	.rightForm {
		float: left;
		width: 70%;
		clear: both;
		margin: 34px 0 0 0;
	}
	.inputMed{
		width:275px;
	}
	.selectDefault.dias {
		width: 132px;
		clear: both;
		margin: 16px 0 0 0;
	}
	.btnEntrar.proximo {
		float: left;
		margin: -34px 0 30px 358px;
	}
	
	}
	.selectDefault.tipo .selectInicial{
		width:100%;
	}
	.selectDefault .titDoses{
		text-align:left;
	}
	.wrapInternas{
		width:100%;
	}
	.divMiolo h2{
		width:518px;
	}
	.menuFixo .nomeSocial {
		float: left;
		text-align: left;
		width: 300px;
		padding: 9px 0 0 40px;
		color: #fff;
	}
	.menuFixo .nomeCompleto {
		float: left;
		text-align: left;
		width: 380px;
		color: #fff;
		padding: 8px 15px 0 40px;
	}

	.divHeader .divMenu ul{
		padding:0;
	}
	.divHeader .divMenu button{
		
	}
	.divHeader .menuTop{
		bottom: -64px;
		right: 2px;
		z-index: 1;
	}
	.tableCadastro{
		width:100%;

	}
	ul#ullistaCidadaos{
		list-style: none;
		width: 100%;

	}
	ul#ullistaCidadaos li{
		width: 100%;
		display: block;
		height: auto;
		overflow:hidden;
		padding: 4px 0 4px 0;
		height: 72px;
	}
	ul#ullistaCidadaos li.li-header{
		font-weight: bold;
		font-size: 1.245em;
	}
	ul#ullistaCidadaos li:nth-child(odd){
		background: #ccc;
	}
	ul#ullistaCidadaos li div{
		width: auto;
		display: inline-block;
		float: left;
		line-height: 22px;
		font-size: 16px;
		height:auto;
		min-height: 10px;
		min-width: 5%;
	}
	ul#ullistaCidadaos li div:nth-child(1){
		width: calc(20% - 3px);
		padding: 0 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li div:nth-child(2){
		width: calc(17% - 3px);
		padding: 0 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li div:nth-child(3){
		width: calc(19% - 3px);
		padding: 0 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li div:nth-child(4){
		width: calc(13% - 3px);
		padding: 0 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li div:nth-child(5){
		width: calc(11% - 3px);
		padding: 0 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li div:nth-child(6){
		width: calc(10% - 3px);
		padding: 0 0 0 3px;
		text-align: center;
	}
	ul#ullistaCidadaos li div:last-child{
		float: right;
		width: 11%;
	}

	ul#ullistaCidadaos li.li-header div:nth-child(1){
		width: calc(20% - 3px);
		padding: 18px 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li.li-header div:nth-child(2){
		width: calc(17% - 3px);
		padding: 18px 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li.li-header div:nth-child(3){
		width: calc(19% - 3px);
		padding: 18px 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li.li-header div:nth-child(4){
		width: calc(13% - 3px);
		padding: 9px 0 0 3px;
	}
	ul#ullistaCidadaos li.li-header div:nth-child(5){
		width: calc(11% - 3px);
		padding: 9px 0 0 3px;
	}
	ul#ullistaCidadaos li.li-header div:nth-child(6){
		width: calc(11% - 3px);
		padding: 18px 0 0 3px;
		text-align: left;
	}
	ul#ullistaCidadaos li.li-header div:last-child{
		float: right;
		width: calc(11% - 3px);
		padding: 9px 0 0 3px;
	}

	.selectDefault .titExibir{
	    padding: 0 5px 0 83px;	
	}
	.selectPersonalizado{
	    left: 149px;
	}
	.tipo .selectPersonalizado{
	    width: 378px;
		left: 0;
		top: 60px;
	}
	.dias .selectPersonalizado{
		left: 0;
	}









	.tableCadastro{
		width:100%;

	}
	

	.radioFrequencias{
		width: 100%;
		margin: 0 0 20px 0;
	}









































}


.float-nn{
	float:none;
}

.noActive{
	border-top: 2px #FFFFFF !important;
	margin-top: 0px !important;
}

.esconde{
	display:nome !important;
}

.exibe{
	display:block !important;
}

.lista-box-scroll{
	height:150px; 
	overflow-x:hidden;
	overflow-y:auto; 
	width:100%; 
}

.container-cb{
	float:left;
	width:110px;
	overflow:hidden;
}

.marg-r-10{
	margin-right:10px;
}

.pos-inh{
	position:inherit !important;
}

.w-inh{
	width:inherit !important;
}

.w-100-pct{
	width:100% !important;
}

.inputTextArea{
	background:#ebebeb;
    max-width:100%;
    width: calc(100% - 10px);
	padding:10px 0 0 10px;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	min-height: 100px;
	float:left;
}

.marg-label{
	margin-left:186px !important;
}

.spacer-h{
	margin-left: 0;
}



.spacer-t{
	margin-top: 16px;
}
.spacer-r{
	margin-right: 16px !important;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}


#container_familiar{

	width: 100%;
    height: auto;
    /* background-color: aqua; */
    overflow: hidden;
}
#container_familiar .checkbox p{
	/*word-break: break-word;*/
	word-break: inherit;
	
}

#container_comquem .checkbox{
	padding: 0;
}

#container_familiar .checkbox{
	padding: 0;
}

#container_cond_saude{
	width: 100%;

}

#container_cond_saude2 .checkbox{
	padding: 0;
}

#container_cond_saude .checkbox{
	padding: 0;
}

.padd-0{

}



.marg-cb-cad-p-pag{
    margin-left: 250px !important;
   /* padding:0 5px 0 610px !important;*/
}

/*DASATIVA PORTRAIT*/
/*
@media screen and (orientation:portrait) {
	.landscapeForce{
		display:block;
		background: url(../img/virar.png) no-repeat center;
		float:left;
		width:100%;
		height:500px;
	}
	.container{
		display:none;
	}
}
*/
.clearfix{
 overflow: auto;
 
}


.boxEditar{
	float:left  !important; 
	width:892px  !important;
	/*margin-left:200px  !important;
	left: -50%  !important;*/
	background:#fff  !important;
	border: 1px solid #EB8202  !important;
	-webkit-border-radius: 10px  !important;
	-moz-border-radius: 10px  !important;
	border-radius: 10px  !important;
	padding: 15px  !important;
	display:none;
	margin:10px 0 0 0  !important;
}
.boxEditar .comoEsta{
	float:left;
	border-right: 2px solid #EB8202;
	padding: 0 8px 0 0;
	width:450px;
}
/*STRONG DIALOG*/
.boxEditar .comoEsta p{
	font-weight:bold;
}
.boxEditar .comoEsta p strong{
	font-weight:normal;
}
.boxEditar .comoFicou p{
	font-weight:bold;
}
.boxEditar .comoFicou p strong{
	font-weight:normal;
}
/*FIM STRONG*/

.boxEditar p{
	padding:5px 0 0 0;
}
.boxEditar .comoFicou{
	float:left;
	width:45%;
	padding: 0 0 0 12px;
}
.boxEditar h3{
	font-size: 16px;
	color: #eb8202;
	float: left;W
	width: 100%;
	margin: 0 0 20px 0;
}
.ui-icon-closethick{
	background:url('../img/icoFechar.gif') no-repeat  !important;
	width:20px  !important;
	height: 20px  !important;
	float: right !important;
	border:none !important;
}
.ui-widget-content{
	background:#fff !important;
}
.ui-dialog{
	position:absolute  !important;
	left:48%  !important;
	top:20%  !important;
	height:auto  !important;
	margin-left:-450px !important;
	width:900px  !important;
	padding:15px 48px 15px 15px !important;
}
.ui-dialog .ui-dialog-titlebar{
    width: 900px !important;
}
#tecnicoSaudeLabel, #tecnicoTrabalhoLabel, #tecnicoSocialLabel{
	width:351px;
}
.selectPersonalizado.tecnicos{
	left: 0;
    top: 35px;
    width: 362px;
}

.selectPersonalizado.tecnicos li{
	width:336px;
}
.checkbox.tecnicoCheckbox{
	margin:0 0 0 18px;
	float:left;
}
.tableCadastro.semCor table tr td{
	background:#fff !important;
}
.inputsTempo{
	width: 100%;
	height: auto;
	overflow: hidden;	
}
.listaDiasMesesAnosUsoDrogas{
	width: 100%;
	height: auto;
	margin: 0 0 15px 0;
	overflow: hidden;
}
.alinhaLeftSelect{
	float:left;
	width:400px !important;
	clear: none !important;
}
.selectCertidao{
	width:202px !important;
}
.selectProvidencia{
	width:202px !important;
}
.alinhaObsParticipou{
	margin: 13px 0 15px 0;
}
.alinhaObsCert{
	float:left;
	width: calc(100% - 213px);
	clear: none !important;
	margin: 0 0 15px 0;
}
.adicionaInputDrogaHoje, .adicionaInputContatoFamiliar{
	width: 100%;
}
.adicionaInputDrogas div{
	display: block;
	height: auto;
	overflow: hidden;
	width: 100%;
}




.alinhaGrande{
	float:left;
	width: 100%;
	clear: none !important;
	margin: 0;
}
.alinhaObsProv{
	float:left;
	width:100%;
	clear: none !important;
	margin: 0;
}
.adicionaObsCertidao{
	width: 300px !important;
}
.adicionaObsProvidencia{
	width: 257px !important;
	margin:0 0 0 180px;
}
.adicionaObsProvidenciaPeq{
	width: 257px !important;
	margin:0 0 0 5px;	
}
.btnAdicionarCert {
    background: url(../img/icoAdd.png) no-repeat 0 1px !important;
    float: left; !important;
    width: 27px !important;
    height: 22px !important;
    padding: 0 8px 0 0 !important;
    margin:4px 0 0 3px !important;
    text-indent: -9999px !important;
    border:none;
    cursor:pointer;
}
.btnAdicionar{
	background: #eb8202;
    border: none;
    float: left;
    font-size: 28px;
    margin: 0 0 0 10px;
    color: #fff;
    height: 70px;
    width: calc(33% - 10px);
    padding: 0;
    cursor: pointer;
}
.adicionaInputCertidao{
	float: left;
    margin: 15px 0 0 0;
    width: 100%;
    clear: both;
    padding: 0 0 16px 0;
}
.adicionaInputProvidencia{
	float: left;
    margin: 15px 0 0 0;
    width: 100%;
    clear: both;
    padding: 0 0 16px 0;
}
.adicionaInputEspecialidadeConsulta{

}
#container_duasColunas_atividade_tempo_livre{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.adicionaInputProvidencia > div{
	margin:20px 0 0 0;
	float:left;
	padding: 0 0 10px 0;
}
.inputAdicionaCertidao{
	background:#ebebeb;
    height: 32px;
	padding:3px 0 0 10px;
	margin:15px 0 0 185px;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:500px;
	float:left;
}
.inputAdicionaProvidencia{
	background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 3px;
    margin: 15px 3px 0 0;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: calc(33% - 3px);
    float: left;
}
.inputPeq{
	background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 3px;
    margin: 15px 3px 0 0;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: calc(33% - 6px);
    float: left;
}
.textareaProvidencia{
	background:#ebebeb;
    height: 75px;
	padding:3px 0 0 3px;
	margin:3px 0 0 0;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:66%;
	float:left;
}
.textareaAdicionaEspecialidadeUbs{
	background:#ebebeb;
    height: 75px;
	padding:3px 0 0 3px;
	margin:3px 0 0 0;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:66%;
	float:left;
}
.textareaAdicionaInternacao{
	background:#ebebeb;
    height: 75px;
	padding:3px 0 0 3px;
	margin:3px 0 0 0;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:66%;
	float:left;
}

.inputAdicionaCertidaoSelect {
    background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 10px;
    margin: 15px 0 0 118px;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 215px;
    float: left;
}
.inputAdicionaProvidenciaSelect{
    background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 10px;
    margin: 15px 0 0 118px;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 215px;
    float: left;
}
.inputAdicionaCertidao {
    background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 10px;
    margin: 15px 0 0 8px;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 299px;
    float: left;
}
.textareaAdicionaProvidencia{
	background:#ebebeb;
    height: 75px;
	padding:3px 0 0 3px;
	margin:3px 0 0 0;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:calc(66% + 3px);
	float:left;
}

.bt_add_novo{
	margin-top: 10px;
    border: 0;
    background: none;
    display: block;
    float:left;
    width: 15%;
    padding-top: 15px;
    height: 40px;
    background-image:  url('../img/icoPagNext.png');
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
.fl_left{
	float: left;
}
.divFreqCidadao{
	width: 100%;
	display: block;
	float: left;
}

.divFreqCidadao .divnome {
    display: inline-block;
    float: left;
    line-height: 32px;
    font-weight: bold;
}
.divFreqCidadao .divnomesocial {
    display: inline-block;
    float: left;
    margin: 0 0 0 10px;
    line-height: 32px;
}
.inputFrequenciaLivre{
	padding: 8px 0 0 8px;
}
.divFrequenciaLivre{
	float: left;
	height: auto;
	overflow: hidden;
	width: 100%;
}

.divFrequencia{
	width:100%;
	height: auto;
	overflow: hidden;
	margin: 0 0 30px 0;
	border-bottom: 2px solid #eb8202;
}
#formFrequencia{
	width: 100%;
	float: left;
	padding: 75px 0 0 0;
}

#formFrequencia h3{
}

.labelFiltroData{
	font-family: "Roboto", Arial;
    float: left;
    margin: 0 10px 0 0;
    color: #333333 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 72px;
}
#div_login{
	margin: 0;
	padding: 0 16px 0 16px;
	width: 100%;
}

#div_abas{
	position: fixed;
	z-index: 80;
    width: 50%;
    background-color: #333;
}
#container_abas{
	position: fixed;
	width: 800px;
	z-index: 999;
	margin-top: 170px;
}
/*anima telas*/
.hideme{
	display: none;
}

.showme{
	display: block;
}
.div_hide{
    right: -52%;
    -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
}
.container_hide{
    right: -52%;
    -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
}
.div_show{
    right: 0;
    -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
}
.container_show{
    right: 0;
    -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
}
.divNav .logo{
	width: 678px;
	height: 60px;
	float: left;
}
.divNav .logo img{
	height: 60px;
	width: auto;
}
.button_back{
	z-index: 85;
	height: 60px;
	margin: 0;
    width: 56px;
    color:#FFF;
    padding: 0; 
    cursor: pointer;
    font-size: 24px;
}
.button_reload{
	z-index: 85;
	height: 60px;
	margin: 0;
    width: 66px;
    color:#FFF;
    padding: 0; 
    cursor: pointer;
    font-size: 16px;
    background: #FFF !important;
}
.button_aba{
    z-index: 85;
	height: 60px;
	margin: 0;
    width: 56px;
    background: #eb8202 !important;
    padding: 0; 
    cursor: pointer;
    font-size: 24px;
}
#div_busca_inicio{
	padding: 100px 0 40px 0;
	}



#div_busca_inicio h1, h2, h3{
	padding: 16px 0;
}
#div_busca_inicio h1{
	font-size: 48px;
}
#div_busca_inicio h2{
	font-size: 24px;
	   
}
#div_busca_inicio h3{
	font-size: 16px;
}

#div_frequencia{
	margin: 45px 0 0 0;
	height: auto;
	overflow: hidden;
}

#freqFiltroData{
	border: none !important;
	border-radius: 0;
	padding: 0;
	height: auto;
	overflow: hidden;
	width: 100%;
}

#freq_abas{
	border: none !important;
	border-radius: 0;
	padding: 0;
	height: auto;
	overflow: hidden;
	width: 100%;
}
#freq_abas > ul{
	border: none !important;
	border-radius: 0;
	padding: 0;
}
#freq_abas > ul li{
	background-image: none;
	margin: 0;
}

#freq_abas > ul > li.ui-tabs-active{
	border: none !important;
	border-radius: 0;
	padding: 0;
	margin: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{
	padding: 24px !important;
	font-size: 1.6em;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding: 24px !important;
	font-size: 1.6em;
}




#freq_abas > div{
	border: none !important;
	border-radius: 0;
	padding: 0;
	height: auto;
	overflow: hidden;
}

.h_100{
	height: 100px;
}
#container_form h2{
	font-size:32px;
	padding: 10px 0 16px 0;
}
.rotacao {

/* Safari 
-webkit-transform: rotate(-90deg);*/

/* Opera 
-o-transform: rotate(-90deg);*/
 
/* Firefox 
-moz-transform: rotate(-90deg);*/
 
/* Internet Explorer 
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
.icoCalendario{
	margin: 0 10px 0 10px;
	height: 70px;
}
.dataFreq {
    float: left;
    margin: 30px 0 30px 0;
    width: 100%;
}

.dataFreq .inputPeq{
	margin: 0 !important;
	height: 65px;
}
.checkbox_busca{
	margin-top: 35px !important;
	width: 50%;
}

.input_busca{
	width: calc(67% - 16px);
}
#div_cidado_nome{
	width: calc(100% - 145px);
	margin: 105px 0 0 92px;
	background: #ccc;
	padding: 15px 0 5px 5px;
	height: 45px;
}
#div_cidado_nome p{
	font-size: 28px;
	color: #fff;
	font-weight: bold;
}

#div_conteudo{
	width: 100%;
	margin: 0;
}

.botao_header{
	font-family: "Roboto", Arial;
	font-size: 28px;
	color: #fff;
	text-decoration: none;
	padding: 0;
	float: left;
	background: none;
	border: none;
}

#listaFreq{
		list-style: none;
		width: 100%;

	}
	#listaFreq li{
		width: 100%;
		display: block;
		height: auto;
		overflow:hidden;
		padding: 4px 0 4px 0;
		height: 66px;
	}
	#listaFreq li.li-header{
		font-weight: bold;
		font-size: 1.245em;
	}
	#listaFreq li:nth-child(odd){
		background: #ccc;
	}
	#listaFreq li div{
		width: auto;
		display: inline-block;
		float: left;
		line-height: 22px;
		font-size: 16px;
		height:auto;
		min-height: 10px;
		min-width: 5%;
	}
	#listaFreq li div:nth-child(1){
		width: calc(40% - 3px);
		padding: 18px 0 0 3px;
		text-align: left;
	}
	#listaFreq li div:nth-child(2){
		width: calc(30% - 3px);
		padding: 18px 0 0 3px;
		text-align: left;
	}
	#listaFreq li div:last-child{
		float: right;
		width: calc(30% - 3px);
		padding: 9px 0 0 3px;
	}

	#listaFreq li.li-header div:nth-child(1){
		width: calc(40% - 3px);
		padding: 18px 0 0 3px;
		text-align: left;
	}
	#listaFreq li.li-header div:nth-child(2){
		width: calc(30% - 3px);
		padding: 18px 0 0 3px;
		text-align: left;
	}
	#listaFreq li.li-header div:last-child{
		float: right;
		width: calc(30% - 3px);
		padding: 9px 0 0 3px;
	}