@charset "utf-8";
/* CSS Document */

/* fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-regular.eot');
    src: url('../fonts/ubuntu-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular.woff2') format('woff2'),
         url('../fonts/ubuntu-regular.woff') format('woff'),
         url('../fonts/ubuntu-regular.ttf') format('truetype'),
         url('../fonts/ubuntu-regular.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-size:12px;
	font-family:"Roboto", Arial;
	font-size:14px;
	color:#333333;
}

::-webkit-input-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:14px; }
::-moz-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:14px; } /* firefox 19+ */
:-ms-input-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:14px; } /* ie */
input:-moz-placeholder { color:#454545; font-style:italic; font-family:"Roboto", Arial; font-size:14px; }
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0.5;
}

.container{
    float: left;
    clear: both;
    width: 100%;
    min-height: 768px;
}
.wrap{
	margin:0 auto;
	width:100%;
}
.divHeader{
	float:left;
	width:100%;
	/*background:url(../img/bgHeader.png) no-repeat 0 40px #fff;*/
	position:relative;
}
.divHeader .logo a{
	text-indent:-9999px;
	background:url(../img/logo.png) no-repeat;
	width:178px;
	height:124px;
	float:left;
	margin:15px 0 0 20px;
}
.divHeader .logoPref{
	float:right;
	background:url(../img/logoPrefeitura.png) no-repeat;
	width:183px;
	height:83px;
	text-indent:-9999px;
	margin:50px 40px 0 0;
}
.divHeader .menuTop{
    border-bottom: 34px solid #ebebeb;
    border-left: 21px solid transparent;
    border-right: 0 solid transparent;
    height: 0;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.divHeader .menuTop ul{
	float:left;
	margin:0;
	padding:0 0 0 10px;
}
.divHeader .menuTop ul li{
	font-family:"Ubuntu", Arial;
	color:#666;
	text-decoration:none;
	font-size:13px;
	
	list-style: none;
    display: inline;
    margin: 9px 8px 8px 9px;
    float: left;
}
.divHeader .menuTop ul li a{
	font-family:"Ubuntu", Arial;
	color:#666;
	text-decoration:none;
	font-size:13px;
	padding:0 10px 0 0;
	float:left;
}
.divHeader .menuTop ul li a{
	background:url(../img/bgLista.gif) no-repeat right;
}
.divHeader .menuTop ul li:last-child a{
	background:none;
}
.divHeader .divMenu{
	background:#737373;
	float:left;
	width:100%;
	padding:0 0 12px 0;
    margin: 0;
	position:relative;
	z-index:1;
}
.divHeader .divMenu ul{
    float: left;
    padding: 5px 0 0 15px;
}
.divHeader .divMenu ul li{
	display: inline;
    list-style: none;
    border-right: 1px solid #888888;
    float: left;
    margin: 8px 0 0 20px;
}
.divHeader .divMenu ul li:last-child{
	border-right:none;
}
.divHeader .divMenu ul li a{
    font-family: "Roboto", Arial;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px 8px 31px;
    float: left;
}
.divHeader .divMenu ul li a.menuPainel{
	background:url(../img/icoMenuPainel.png) no-repeat 0 3px;
}
.divHeader .divMenu ul li a.menuCadastro{
	background: url(../img/icoMenuTodos.png) no-repeat 0 3px;
}
.divHeader .divMenu ul li a.menuLocalizar{
	background:url(../img/icoMenuBusca.png) no-repeat 0 3px;
}
.divHeader .divMenu ul li a.menuNovo{
	background:url(../img/icoMenuNovo.png) no-repeat 0 3px;
}

.divMiolo{
	background:#e5e5e5;
	float:left;
	clear:both;
	position:relative;
	width:100%;
	min-height:300px;
	font-family:"Roboto", Arial;
}
.divMiolo h2{
	font-family:"Roboto", Arial;
	font-size:22px;
	float:left;
	width:100%;
	margin:15px 0 20px 35px;
}
.divMiolo .wrapLogin{
	margin:0 auto;
	width:93%;
	overflow: hidden;
}
.divMiolo .divLogin{
	border-top:5px solid #eb8202;
	margin-top:49px;
	margin-bottom:50px;
	background:#fff;
	padding:0;
	float:left;
	width: 100%;
}
.divMiolo .divLogin h2{
	color:#eb8202;
	font-family:"Roboto", Arial;
	font-size:16px;
	float:left;
	width:100%;
}
.divMiolo .divLogin .formLogin{
	float:left;
	width:270px;
}
.divMiolo .divLogin .infoLogin{
	float: left;
    width: 266px;
    padding: 0 0 0 53px;
}
.divMiolo .divLogin .infoLogin h3{
	font-weight:bold;
	font-size:16px;
	font-family:"Roboto", Arial;
}
.divMiolo .divLogin .infoLogin p{
	font-size:14px;
	font-family:"Roboto", Arial;
	padding:15px 0 0 0;
}
.divMiolo .divLogin form{
	float:left;
	width:270px;
	border:none;
	margin:30px 0 0 0;
}
.divMiolo .divLogin form .recuperar{
	color:#eb8202;
	text-decoration:underline;
	font-family:"Roboto", Arial;
	font-size:14px;
	float:right;
	margin:10px 0 0 0;
}

#container_form{
	
	width: 274px;
	
	overflow: hidden;
	  margin-left: auto;
  margin-right: auto;
}

.wrapInternas{
	margin:0 auto;
	width: 32%;
}
.divInternas{
	padding:30px 30px 30px 50px;
	float:left;
}
.divInternas h2{
	font-size:22px;
	padding:8px 0 8px 0;
	margin:0 0 0 0;
	font-weight:bold;	
}
.divInternas h3{
	font-size:20px;
	padding:8px 0 8px 0;
	margin:0 0 0 0;
	font-weight:bold;
}
.divInternas h4{
	font-size:18px;
	padding:5px 0 8px 0;
	margin:0 0 0 0;
	font-weight:bold;
}
.divInternas p{
	padding:10px 0 0 0;
}
.divInternas form{
	margin:30px 0 0 0;
	float:left;
	border:none;
}
.msgParabens{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background:#04c7ce;
	color:#fff;
	height:40px;
	margin:0 auto;
	margin-top:20px;
	clear:both;
	display:block;
	float:left;	
}
.msgParabens .ico{
    float: left;
    background: url(../img/icoOk.png) no-repeat 6px 6px;
    height: 40px;
    width: 45px;
    border-right: 1px solid #5ddbdf;
}
.msgParabens p{
    float: left;
    padding: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
}
.msgInfo{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background:#04ce9b;
	color:#fff;
	height:40px;
	margin:0 auto;
	margin-top:20px;
	clear:both;
	float:left;	
}
.msgInfo .ico{
    float: left;
    background: url(../img/icoInfo.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
    border-right: 1px solid #5ddbdf;
}
.msgInfo p{
    float: left;
    padding: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
}
.msgErro{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background:#ff6766;
	color:#fff;
	min-height:40px;
	margin:0 auto;
	margin-top:20px;
	clear:both;
	float:left;	
}
.msgErro .ico{
    float: left;
    background: url(../img/icoErro.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
    /*border-right: 1px solid #ff9d9c;*/
    
}
.msgErro p{
    /*float: left;*/
    margin: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
    
}
.msgAtencao{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background:#ffb527;
	color:#fff;
	height:40px;
	margin:0 auto;
	margin-top:20px;
	clear:both;
	float:left;	
}
.msgAtencao .ico{
    float: left;
    background: url(../img/icoWarning.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
    border-right: 1px solid #ffcf73;
}
.msgAtencao p{
    float: left;
    padding: 12px 23px 0 8px;
    color: #fff;
    height: 40px;
}
.msgWhite{
    clear: both;
    margin: 0 auto;
	float:left;
}
.msgWhite p.parabens{
	color:#04c7ce;
}
.msgWhite p.info{
	color:#04ce9b;
}
.msgWhite p.erro{
	color:#ff6766;
}
.msgWhite p.atencao{
	color:#ffb527;
}
.msgWhite span.icoParabens{
    float: left;
    background: url(../img/icoOk-on.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
}
.msgWhite span.icoInfo{
    float: left;
    background: url(../img/icoInfo-on.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
}
.msgWhite span.icoErro{
    float: left;
    background: url(../img/icoErro-on.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
}
.msgWhite span.icoAtencao{
    float: left;
    background: url(../img/icoWarning-on.png) no-repeat 4px 4px;
    height: 40px;
    width: 45px;
}
.wrapInternas form, .wrapInternas form fieldset{
	margin:0;
	border:none;
	float:left;
	clear:both;
	width:100%;
}
.wrapInternas form legend{
	display:none;
}
.wrapInternas .contentAba{
	background:#fff;
	float:left;
	width:94%;
	padding:3%;
}
.wrapInternas .contentAba .alignLeft{
	font-family:"Roboto", Arial;
	font-size:14px;
	float:left;
	width:50%
}
.wrapInternas .contentAba .alignRight{
	font-family:"Roboto", Arial;
	font-size:14px;
	float:left;
	width:50%
}
.wrapInternas h3{
	font-size:18px;
	color:#eb8202;
	float:left;
	width:100%;
	margin:20px 0 20px 0;
}
.comboStilo{
	position:relative;
}
.selectDefault{
	float:left;
	width:100%;
}
.selectDefault.tipo .selectInicial{
	width:60%;
}
.selectDefault.dias{
	width:236px;
}
.selectDefault.dias .selectInicial{
	width:120px;
	float:right;
}
.selectDefault .titSang{
	float:left;
	width:176px;
	text-align:right;
	padding:0 5px 0 0;
	margin:8px 5px 0 0;
}
.selectDefault .titExibir{
	float:left;
	width:176px;
	padding:0 5px 0 249px;
	margin:8px 5px 0 0;
}
.selectDefault .titCadastro{
	float:left;
	width:176px;
	text-align:left;
	padding:0 5px 0 0;
	margin:8px 5px 0 5px;
}
.selectDefault .titDoses{
	float:left;
	width:96px;
	text-align:right;
	padding:0 5px 0 0;
	margin:8px 5px 0 0;
}
.linhaForm{
	float:left;
	clear:both;
	margin:13px 0 0 0;
	width:100%;
}
.linhaForm .readOnly{
	margin-top: 7px;
	font-weight:bold;
	float:left;
	display:inline-block;
	width:75%;
}

.linhaForm .readOnly.w10{
	max-width:10%;
	width:auto;
	overflow:hidden;
	margin-right:20px;
}

.linhaForm .titLabel{
	float:left;
	width:176px;
	text-align:right;
	margin:8px 5px 0 0;
	padding:0 5px 0 0;	
}
.linhaForm .checkbox{
	float:left;
	padding:0 0 0 20px;
	margin:-5px 0 0 0;
}
.leftForm{
	float:left;
	width:30%;
}
.rightForm{
	float:right;
	width:70%;
}
.onoff{
	float:left;
}
span.unidade{
	float:left;
	padding:5px 10px 0 8px;
	width:40px;
}
.contentAbaBorda{
	border-top:#eb8202 5px solid;
	background: #fff;
    float: left;
    width: 94%;
    padding: 3%;
	margin:8px 0 24px 0;
}
.inputPeq{
	background:#ebebeb;
    height: 32px;
	padding:3px 0 0 10px;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:80px;
	float:left;
}
.inputMed{
	background:#ebebeb;
    height: 32px;
	padding:3px 0 0 10px;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:375px;
	float:left;
}
.inputFocus{
	border:1px solid #eb8202 !important;
}
.divCenter{
	float:left;
	margin:10px 0 30px 270px;
	clear:both;
}
.btnAdicionar{
	background:#eb8202;
	border:none;
	float:left;
	margin:0 0 0 5px;
	color:#fff;
	padding:8px 20px 8px 20px;
	cursor:pointer;
}
.btnLupa{
	background: url(../img/icoLupa.gif) no-repeat;
	border:none;
	float:left;
	margin:0 0 0 5px;
	color:#fff;
	padding:8px 20px 8px 20px;
	cursor:pointer;
	width:36px;
	height:34px;
	text-indent:-9999px;
}
.inputGrande{
	background:#ebebeb;
    height: 32px;
	padding:0px 0 0 10px;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:500px;
	float:left;
}
.inputAdiciona{
	background:#ebebeb;
    height: 32px;
	padding:3px 0 0 10px;
	margin:15px 0 0 185px;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:500px;
	float:left;
}
.btn-remover{
	background:url(../img/icoExcluir.png) no-repeat;
	text-indent:-999px;
	float:left;
	width:22px;
	height:22px;
	margin:20px 0 0 9px;
	cursor:pointer;
}
.partridge{
	background:#ebebeb;
    height: 32px;
	padding:3px 0 0 10px;
	color: #999999;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:70px;
	float:left;
}
.buttonInc{
	background:#787879;
	width:24px;
	height:31px;
	float:left;
	margin:0 0 0 1px;
	color:#fff;
	font-weight:bold;
	font-family:Arial;
	font-size:28px;
	padding:0 0 0 7px;
	cursor:pointer;
}
.diminuir{
	padding:0 0 5px 12px;
	height:26px;
}
.menuFixo{
	background:#737373;
	float:left;
	width:100%;
	-webkit-box-shadow: 10px 17px 41px -23px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 17px 41px -23px rgba(0,0,0,0.75);
	box-shadow: 10px 17px 41px -23px rgba(0,0,0,0.75);
	position:relative;
}
.menuFixo.fixed{
	position:fixed;
	top:0;
	left:0;
	z-index:99;
}
.menuFixo .nomeCompleto{
	float:right;
	text-align:right;
	width:500px;
	color:#fff;
	padding:20px 15px 10px 0;	
}
.menuFixo .nomeSocial{
	float:left;
	text-align:left;
	width:300px;
	padding:20px 0 0 40px;
	color:#fff;
}
.menuFixo .abreMenu{
	background:url(../img/icoMenuFico.png) no-repeat;
	width:56px;
	height:56px;
	float:left;
	cursor:pointer;
}
.menuFixo .relativeDiv{
	float:left;
	position:relative;
}
.menuFixo ul.lstMenuFixo{
	float:left;
	position:absolute;
	top:45px;
	left:0;	
	background:#eb8202;
	width:282px;
	z-index:99;
	padding:0 0 20px 0;
	display:none;
}
.menuFixo ul.lstMenuFixo li{
	display:block;
	background:#eb8202;
	font-family:"Roboto", Arial;
	font-size:14px;
	color:#fff;
	float:left;
	width:100%;	
}
.menuFixo ul.lstMenuFixo li.titMenuFixo{
	font-size:24px;
	border-bottom:1px solid #fff;
	padding:5px;
	text-align:left;
	margin:19px 10px 3px 25px;
	width:225px;
}
.menuFixo ul.lstMenuFixo li a{
	color:#fff;
	font-family:"Roboto", Arial;
	font-size:14px;
	text-decoration:none;
	padding:8px 5px 10px 25px;
	float:left;
	width:235px;	
}
.menuFixo ul.lstMenuFixo li a:hover{
	text-decoration:underline;
}
/*SELECT PERSONALIZADO*/
/*.selectInicial{
	background: url(../img/bgSelect.gif) right 10px no-repeat #ebebeb;
	border-top:2px solid #dedede;
	color:#454545;
	font-style:italic;
	font-size:15px;
	padding:7px 0 0 10px;
	width:30%;
	height:26px;
	float:left;
	cursor:pointer;
}
.selectPersonalizado{
    position: absolute;
    top: 35px;
    left: 185px;
    float: left;
    width: 271px;
    border-top: 1px solid #fff;
	display:none;
	z-index:1;
}*/



.dias .selectPersonalizado{
	left:106px;
	width:129px;
}
.dias .selectPersonalizado li{
	left:106px;
	width:115px;
}
.tipo .selectPersonalizado{
	width:375px;
}
.tipo .selectPersonalizado li{
	width:361px;
}
.exibir .selectInicial{
	width:55px;
}
.exibir .selectPersonalizado{
	width:60px;
	left:550px;
}
.exibir .selectPersonalizado li{
	width:50px;
}
.selectPersonalizado li{
	background:#eeeeee;
	color:#454545;
	list-style:none;
	float:left;
	width:256px;
	padding:9px 0 5px 15px;
	cursor:pointer;
	font-style:italic;	
}
.selectPersonalizado li:hover{
	background:#999999;
	color:#fff;
	font-style:italic;
}
.menuAbas{
	float:left;
}
.menuAbas li{
	list-style:none;
	background:#efefef;
	margin:0 5px 0 0;
	padding:11px 18px 10px 18px;
}
.menuAbas li a{
	float:left;
	font-family:"Roboto", Arial;
	font-size:14px;	
	color:#b9b9b9;
	padding:2px 0 0 4px;
	text-decoration:none;
}
.menuAbas li .number{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float:left;
	width:15px;
	height:18px;
	background:#b9b9b9;
	color:#fff;
	font-family:"Roboto", Arial;
	font-size:14px;
	padding:2px 0 0 5px;
}
.menuAbas li.active .number{
	background:#eb8202;
	margin:1px 0 0 0;
}
.menuAbas li.active a{
	color:#eb8202;
	padding:3px 0 0 4px;
}
.menuAbas li.active{
	background:#fff;
	height:20px;
	margin-top:-5px;
}
.btnEntrar{
	background: url(../img/icoEntrar.gif) right no-repeat #eb8202;
	color:#fff;
	font-family:"Roboto", Arial;
	font-size:14px;
	height:35px;
	border:none;
	padding:5px 50px 0 15px;
	cursor:pointer;
	margin:15px 10px 15px 0;
	clear:both;
	float:right;
}
.btnAlterar{
	font-family:"Roboto", Arial;
	font-size:14px;
	height:35px;
	background:#eb8202;
	border:none;
	
	color:#fff;
	padding:8px 20px 8px 20px;
	cursor:pointer;
	margin:15px 0 15px 0;
	clear:both;
	float:right;
}

/* Pagination */
/* ---------------------------------------------------------- */

#pagination{
	float:left;
	width:100%;
	clear:left;
	margin:50px 0;
}

#pagination ul{
	margin:0;
	padding:0;
	text-align:center;
}

#pagination li{
	display:inline-block;
}

#pagination li a{
	display:inline-block;
	padding:10px 15px;
	background:#e5e5e5;
	color:#666666;
	font-family:"Roboto", Arial;
	text-decoration:none;
}

#pagination li a:hover{
	background:#737373;
	display:inline-block;
	color:#fff ;
}
#pagination li a.current-pagination{
	background:#737373;
	display:inline-block;
	color:#fff;
}

#pagination li a.last{
	border:0;
	display:inline-block;
	padding:10px 15px;
}

#pagination li a:hover.last{
	border:0;
	background:#fff;
	color:#000;
	display:inline-block;
}
#pagination li a.btnext{
	background: url(../img/icoPagNext.png) no-repeat;
	padding:10px 21px;
	margin:0;
	text-indent:-9999px;	
}
#pagination li a.btnext.deactivate{
	background: url(../img/icoPagNext-off.png) no-repeat;
}
#pagination li a.btprev{
	background: url(../img/icoPagPrev.png) no-repeat;	
	padding:11px 19px;
	margin:0;
	text-indent:-9999px;
}
#pagination li a.btprev.deactivate{
	background: url(../img/icoPagPrev-off.png) no-repeat;
}

/*TABELA*/
.tableCadastro{
	float:left;
	clear:both;
	width:100%;
	margin:30px 0 0 0;
}
.tableCadastro table{
	width:100%;
}
.tableCadastro table tr.active{
	background:#fde3c3 !important;
}
.tableCadastro table tr th{
	background:#999999;
	color:#fff;
	text-align:left;
	padding:8px 8px 8px 20px;
}
.tableCadastro table tr th a{
	color:#fff;
	text-decoration:underline;
	text-align:left;
}
.tableCadastro table tr td{
	color:#333;
	text-align:left;
	padding:8px 8px 8px 20px;
	font-family:"Roboto", Arial;
	font-size:16px;
}
.tableCadastro .icoBandeira{
	background:url(../img/icoBandeira.png) no-repeat;
	float:left;
	width:27px;
	height:22px;
	padding:0 5px 0 0;
}
.bandeiraon{
	display:none;
}
/*.tableCadastro .icoBandeira:hover{
	background:url(../img/icoBandeira-on.png) no-repeat;
}*/
.tableCadastro .icoBandeira.active{
	background:url(../img/icoBandeira-on.png) no-repeat;
}
.tableCadastro .icoEdit{
	background:url(../img/icoEdit.png) no-repeat 0 1px;
	float:left;
	width:27px;
	height:22px;
	padding:0 8px 0 0;	
}
.tableCadastro .icoAdd{
	background:url(../img/icoAdd.png) no-repeat 0 1px;
	float:left;
	width:27px;
	height:22px;
	padding:0 8px 0 0;
}
.tableCadastro .icoDelete{
	background: url(../img/icoExcluir.png) no-repeat;
	float:left;
	width:27px;
	height:22px;
}
.btnEntrar.proximo{
	float:right;
	margin:-34px 0 30px 0;
}
.btnVoltar{
	background: url(../img/icoVoltar.gif) left no-repeat #999999;
	color:#fff;
	font-family:"Roboto", Arial;
	font-size:14px;
	height:35px;
	border:none;
	padding:5px 10px 0 50px;
	cursor:pointer;
	margin:35px 0 0 0;
	clear:both;
	float:left;
}
.checkbox .check{
	background: url(../img/icoCheck.gif) no-repeat;
	width:19px;
	height:19px;
	float:left;
	margin:8px 0 0 0;
	cursor:pointer;
    border: 1px solid #d4d4d4;	
}
.checkbox p{
	float:left;
	padding:10px 0 3px 5px;
}
.checkbox .check.active{
	background: url(../img/icoCheck-on.gif) no-repeat;
	width:19px;
	height:19px;
	float:left;
}
.radioButton{
	float:left;
	/* clear:both; */
}
.radioButton .radio{
	background: url(../img/icoRadio.png) no-repeat;
	width:26px;
	height:24px;
	float:left;
	margin:8px 0 0 0;
	cursor:pointer;
}
.radioButton p{
	float:left;
	padding:10px 10px 3px 2px;
}
.radioButton .radio.active{
	background: url(../img/icoRadio-on.png) no-repeat;
	width:26px;
	height:24px;
	float:left;
}
.divMiolo .divLogin form fieldset{
	float:left;
	width:270px;
	border:none;
	margin:0 0 0 0;
}
.divMiolo .divLogin form fieldset legend{
	display:none;
}
.divMiolo .divLogin form input.usuario{
	background: url(../img/icoUser.png) right no-repeat #ebebeb;
	border-top:2px solid #dddddd;
	color:#666666;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:260px;
	height:30px;
	padding:0 0 0 10px;
	float:left;
	clear:both;	
}
.divMiolo .divLogin form input.senha{
	background: url(../img/icoPassword.png) right no-repeat #ebebeb;
	border-top:2px solid #dddddd;
	color:#666666;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:260px;
	height:30px;
	padding:0 0 0 10px;
	float:left;
	clear:both;
	margin:8px 0 0 0;
}
.amount{
	float:left;
	width:200px;
	position:relative;
}
.amount .valorLeft{
	position:absolute;
	left:0;
	color:#666666;
	font-size:10px;
	bottom:14px;
	font-family:"Roboto", Arial;	
}
.amount .valorRight{
	position:absolute;
	right:0;
	color:#666666;
	font-size:10px;
	bottom:14px;
	font-family:"Roboto", Arial;	
}
#amount{
	position: relative;
	background: #eb8202;
	color:#fff;
	border:none;
	width:60%;
	text-align:center;
	margin:0 0 20px 17%;
	font-family:"Roboto", Arial;
}
.baloon{
	position: relative;
}
.baloon:after {
	top: 100%;
	left: 60%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(235, 130, 2, 0);
	border-top-color: #eb8202;
	border-width: 10px;
	margin-left: -10px;
}

/*FOOTER*/

.divFooter {
	background: #3a3a3a;
	padding: 0px;
	margin: 0 auto;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: 3;
	float: left;
	z-index:-1;
}
.divFooter-core {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 25px 0 0 0;
	height: 100px;
}
.divFooter-menu {
	font-size: 1.2rem;
}
.divFooter-core:after {
	clear: both;
}
.divFooter-core, .divFooter-core p, .divFooter-core a:hover {
	color: #FFF;
}
.divFooter-core a {
	color: #c6c6c6;
	text-align: center;
}
.divFooter-core a:hover {
	color: #ffffff;
}
.divFooter-logo {
	color: #fff;
	width: 15%;
	float: left;
	padding: 10px 0 0 0;
}
.divFooter-core aside {
	border-right: 1px #4b4b4b solid;
}
.divFooter-core aside.last {
	border-right: none;
}
.divFooter-core div {
	height: auto;
}
.divFooter-core div ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}
.divFooter-core div ul li {
	display: inline;
}
.divFooter-core div a:link {
	text-decoration: none;
}
/* FOOTER CONTENT*/
.divLogo {
	width: 17.7%;
	min-height: 65px;
	padding: 12px 30px 0 0;
	float: left;
}
.logoPrefeitura {
	float: left;
	background: url(../img/logoPrefeitura-m.png) no-repeat;
	text-indent: -9999px;
	margin: -3px 0 0 0;
	height: 59px;
	width: 100%;
	max-width: 169px;
	background-size: 100%;
	background-position: 0% 50%;
}
.divAdress {
	width: 21.8%;
	min-height: 65px;
	padding: 10px 30px 0 30px;
	float: left;
	font-size: 1em;
	line-height: 1.175em;
	color:#cccccc;
}
.divAdress span {
	font-size: 0.875em;
	color:#cccccc;
}
.divContact {
	width: 26%;
	min-height: 65px;
	padding: 10px 30px 0 30px;
	float: left;
	font-size: 0.775em;
	line-height: 1em;
}
span.email-img {
	float: left;
	background: url(../img/i-mail.png) no-repeat;
	width: 78%;
	height: 30px;
	padding: 0 0 0 25px;
	margin: 10px 0 0 0;
	background-size: 15px 11px;
	background-position: 0 0;
}
span.phone-img {
	float: left;
	background: url(../img/i-fone.png) no-repeat;
	width: 78%;
	height: 16px;
	padding: 5px 0 0 25px;
	margin: 0;
	background-size: 16px 16px;
	background-position: 0% 25%;
	color:#c6c6c6;
}
.divSocial {
	width: 18%;
	min-height: 65px;
	padding: 20px 0 0 0;
	float: right;
	font-size: 0.775em;
	line-height: 1em;
}
.divSocial-item {
	width: 45px;
	margin: 0;
	float: right;
}

.facebook {
	background: url(../img/icofFB.png) no-repeat;
	float: left;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0 0 0 0;
}
/*.facebook:hover {
	background:  url(../img/social-face.png) 5px 0 no-repeat;
	margin: 0 5px 0 0;
}*/
.twitter {
	background: url(../img/icofTT.png) no-repeat;
	float: left;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0 0 0 0;
}

.youtube {
	background: url(../img/icofYT.png) no-repeat;
	float: left;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0 0 0 0;
}


/* #SUB-FOOTER */
.divSub-footer:after {
	clear: both;
}
.divSub-footer {
	background: #303030;
	position: relative;
	padding: 5px 0 0 0;
	margin: 0 auto;
	width: 100%;
	height: auto;
	min-height: 38px;
	float: left;
	z-index: 3;
}
.divSub-footer-core {
	display: block;
	color: #e0e0e0;
	width: 100%;
	max-width: 962px;
	margin: 0 auto;
	padding: 0px;
	overflow: hidden;
}
.divSub-footer-core, .divSub-footer-core a, .divSub-footer-core span {
	font-size: 0.9em;
}
.divSub-footer-core a {
	color: #e0e0e0;
}
.divSub-footer-core a:hover {
	color: #e0e0e0;
}
.copyright {
	margin: 0 auto;
	display: block;
	padding: 0;
}
.copyright-text {
	float: left;
	width: 65%;
	margin: 12px 0 12px 0;
	font-size: 11px;
	color:#e0e0e0;
}
.prodam-text {
	float: right;
	width: 148px;
	margin: 16px 10px 0 0;
	text-align: left;
	color:#e0e0e0;
	font-size: 10px;
}
.prodam-logo {
	float: right;
	width: 87px;
	text-align: left;
	font-size: 0.8em;
}
.logoProdam {
	float: right;
	background: url(../img/logoprodam.png) no-repeat;
	text-indent: -9999px;
	margin: 0 auto;
	height: 30px;
	max-width: 89px;
	width: 100%;
	background-size: 100%;
}
.onoffswitch {
    position: relative; 
	width: 72px;
	clear:both;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
	background: #FFFFFF;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
	behavior: url(../js/PIE.htc);
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Sim";
    padding-left: 10px;
    background-color: #67f4a1; color: #038e3b;
}
.onoffswitch-inner:after {
    content: "Não";
    padding-right: 10px;
    background-color: #bdbdbd; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 42px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
	background:#038e3b;
}
.landscapeForce{
	display:none;
}
.landscapeForce h2{
	margin:520px 0 0 190px;
	float:left;
	font-size:20px;
}

/* min-width */ 
@media screen and (max-width: 650px) { 
	.wrap{
		width:100%;
	}
	.divMiolo .divLogin{
		width:100%;
	}
	.divMiolo .divLogin .infoLogin{
		padding:33px 0 0 0;
	}
	.wrapInternas .contentAba .alignRight{

		clear:both;
		margin:5px 0 0 0;
	}
	.selectDefault .titSang{
		text-align:left;	
		width:140px;		
	}
	.selectDefault .titSang.tipo{
		text-align:left;	
		width:40px;		
	}
	.linhaForm .titLabel{
		text-align: left;
		width: 145px;
		padding: 0 0 0 0;
	}
	.linhaForm .titLabel.filtros{
		text-align: left;
		width: 120px;
		padding: 0 0 0 0;
	}
	.inputGrande{
		width:268px;
	}
	.rightForm {
		float: left;
		width: 70%;
		clear: both;
		margin: 34px 0 0 0;
	}
	.inputMed{
		width:275px;
	}
	.selectDefault.dias {
		width: 132px;
		clear: both;
		margin: 16px 0 0 0;
	}
	.btnEntrar.proximo {
		float: left;
		margin: -34px 0 30px 358px;
	}
	.contentAbaBorda{
		width:525px;
	}
	.selectDefault.tipo .selectInicial{
		width:100%;
	}
	.selectDefault .titDoses{
		text-align:left;
	}
	.wrapInternas{
		width:560px;
	}
	.divMiolo h2{
		width:518px;
	}
	.menuFixo .nomeSocial {
		float: left;
		text-align: left;
		width: 300px;
		padding: 9px 0 0 40px;
		color: #fff;
	}
	.menuFixo .nomeCompleto {
		float: left;
		text-align: left;
		width: 380px;
		color: #fff;
		padding: 8px 15px 0 40px;
	}
	.divHeader{
		height:auto;
	}
	.divHeader .divMenu ul{
		padding:0;
	}
	.divHeader .divMenu ul li{
		float:left;
		clear:both;
		border:none;
	}
	.divHeader .menuTop{
		bottom: -64px;
		right: 2px;
		z-index: 1;
	}
	.tableCadastro{
		width:531px;
	}
	.selectDefault .titExibir{
	    padding: 0 5px 0 83px;	
	}
	.selectPersonalizado{
	    left: 149px;
	}
	.tipo .selectPersonalizado{
	    width: 378px;
		left: 0;
		top: 60px;
	}
	.dias .selectPersonalizado{
		left: 0;
	}
}


.float-nn{
	float:none;
}

.noActive{
	border-top: 2px #FFFFFF !important;
	margin-top: 0px !important;
}

.esconde{
	display:nome !important;
}

.exibe{
	display:block !important;
}

.lista-box-scroll{
	height:150px; 
	overflow-x:hidden;
	overflow-y:auto; 
	width:100%; 
}

.container-cb{
	float:left;
	width:110px;
	overflow:hidden;
}

.marg-r-10{
	margin-right:10px;
}

.pos-inh{
	position:inherit !important;
}

.w-inh{
	width:inherit !important;
}

.w-100-pct{
	width:100% !important;
}

.inputTextArea{
	background:#ebebeb;
    width:500px;
	padding:0px 0 0 10px;
	color: #454545;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;

	float:left;
}

.marg-label{
	margin-left:186px !important;
}

.spacer-h{
	margin-left: 16px;
}



.spacer-t{
	margin-top: 16px;
}
.spacer-r{
	margin-right: 16px !important;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}


#container_familiar{

	width: 665px;
    height: auto;
    /* background-color: aqua; */
    overflow: hidden;
}
#container_familiar .checkbox p{
	/*word-break: break-word;*/
	word-break: inherit;
	width: 110px;
}

#container_comquem .checkbox{
	padding: 0;
}

#container_familiar .checkbox{
	padding: 0;
}

#container_cond_saude{
	width: 400px;
    overflow: hidden;

}

#container_cond_saude2 .checkbox{
	padding: 0;
}

#container_cond_saude .checkbox{
	padding: 0;
}

.padd-0{

}



.marg-cb-cad-p-pag{
    margin-left: 250px !important;
   /* padding:0 5px 0 610px !important;*/
}

/*DASATIVA PORTRAIT*/
/*
@media screen and (orientation:portrait) {
	.landscapeForce{
		display:block;
		background: url(../img/virar.png) no-repeat center;
		float:left;
		width:100%;
		height:500px;
	}
	.container{
		display:none;
	}
}
*/
.clearfix{
 overflow: auto;
 
}


.boxEditar{
	float:left  !important; 
	width:892px  !important;
	/*margin-left:200px  !important;
	left: -50%  !important;*/
	background:#fff  !important;
	border: 1px solid #EB8202  !important;
	-webkit-border-radius: 10px  !important;
	-moz-border-radius: 10px  !important;
	border-radius: 10px  !important;
	padding: 15px  !important;
	display:none;
	margin:10px 0 0 0  !important;
}
.boxEditar .comoEsta{
	float:left;
	border-right: 2px solid #EB8202;
	padding: 0 8px 0 0;
	width:450px;
}
/*STRONG DIALOG*/
.boxEditar .comoEsta p{
	font-weight:bold;
}
.boxEditar .comoEsta p strong{
	font-weight:normal;
}
.boxEditar .comoFicou p{
	font-weight:bold;
}
.boxEditar .comoFicou p strong{
	font-weight:normal;
}
/*FIM STRONG*/

.boxEditar p{
	padding:5px 0 0 0;
}
.boxEditar .comoFicou{
	float:left;
	width:45%;
	padding: 0 0 0 12px;
}
.boxEditar h3{
	font-size: 16px;
	color: #eb8202;
	float: left;W
	width: 100%;
	margin: 0 0 20px 0;
}
.ui-icon-closethick{
	background:url('../img/icoFechar.gif') no-repeat  !important;
	width:20px  !important;
	height: 20px  !important;
	float: right !important;
	border:none !important;
}
.ui-widget-content{
	background:#fff !important;
}
.ui-dialog{
	position:absolute  !important;
	left:48%  !important;
	top:20%  !important;
	height:auto  !important;
	margin-left:-450px !important;
	width:900px  !important;
	padding:15px 48px 15px 15px !important;
}
.ui-dialog .ui-dialog-titlebar{
    width: 900px !important;
}
#tecnicoSaudeLabel, #tecnicoTrabalhoLabel, #tecnicoSocialLabel{
	width:351px;
}
.selectPersonalizado.tecnicos{
	left: 0;
    top: 35px;
    width: 362px;
}

.selectPersonalizado.tecnicos li{
	width:336px;
}
.checkbox.tecnicoCheckbox{
	margin:0 0 0 18px;
	float:left;
}
.tableCadastro.semCor table tr td{
	background:#fff !important;
}
.alinhaLeftSelect{
	float:left;
	width:400px !important;
	clear: none !important;
}
.selectCertidao{
	width:202px !important;
}
.selectProvidencia{
	width:202px !important;
}
.alinhaObsCert{
	float:left;
	width:400px !important;
	clear: none !important;
	margin: 2px 0 0 5px !important;
}
.alinhaObsProv{
	float:left;
	width:809px !important;
	clear: none !important;
	margin: 2px 0 0 5px !important;
}
.adicionaObsCertidao{
	width: 300px !important;
}
.adicionaObsProvidencia{
	width: 257px !important;
	margin:0 0 0 180px;
}
.adicionaObsProvidenciaPeq{
	width: 257px !important;
	margin:0 0 0 5px;	
}
.btnAdicionarCert {
    background: url(../img/icoAdd.png) no-repeat 0 1px !important;
    float: left; !important;
    width: 27px !important;
    height: 22px !important;
    padding: 0 8px 0 0 !important;
    margin:4px 0 0 3px !important;
    text-indent: -9999px !important;
    border:none;
    cursor:pointer;
}
.btnAdicionar{
	background:#eb8202;
	border:none;
	float:left;
	margin:0 0 0 5px;
	color:#fff;
	padding:8px 15px 8px 15px;
	cursor:pointer;
}
.adicionaInputCertidao{
	float: left;
    margin: 15px 0 0 67px;
    width: 739px;
    clear: both;
    padding: 0 0 16px 0;
}
.adicionaInputProvidencia{
	float: left;
    margin: 15px 0 0 67px;
    width: 739px;
    clear: both;
    padding: 0 0 16px 0;
}
.adicionaInputProvidencia > div{
	margin:20px 0 0 0;
	float:left;
	padding: 0 0 10px 0;
}
.inputAdicionaCertidao{
	background:#ebebeb;
    height: 32px;
	padding:3px 0 0 10px;
	margin:15px 0 0 185px;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:500px;
	float:left;
}
.inputAdicionaProvidencia{
	background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 10px;
    margin: 15px 0 0 8px;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 299px;
    float: left;
}
.textareaProvidencia{
	background:#ebebeb;
    height: 75px;
	padding:3px 0 0 10px;
	margin:15px 0 0 185px;
	color: #B5B5B5;
	border-top: 2px solid #dedede;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:519px;
	float:left;
}
.inputAdicionaCertidaoSelect {
    background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 10px;
    margin: 15px 0 0 118px;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 215px;
    float: left;
}
.inputAdicionaProvidenciaSelect{
    background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 10px;
    margin: 15px 0 0 118px;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 215px;
    float: left;
}
.inputAdicionaCertidao {
    background: #ebebeb;
    height: 32px;
    padding: 3px 0 0 10px;
    margin: 15px 0 0 8px;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 299px;
    float: left;
}
.textareaAdicionaProvidencia{
	background: #ebebeb;
    height: 75px;
    padding: 3px 0 0 10px;
    margin: 15px 0 0 119px;
    color: #B5B5B5;
    border-top: 2px solid #dedede;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 519px;
    float: left;
}

.bt_add_novo{
	margin-top: 10px;
    border: 0;
    background: none;
    display: block;
    float:left;
    width: 15%;
    padding-top: 15px;
    height: 40px;
    background-image:  url('../img/icoPagNext.png');
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;


}

#container_abas{
	width: 32%;
}
/*anima telas*/
.div_hide{
	display: none;
}

.div_show{
	display: block;
}
.container_hide{
    margin-left: -25%;
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
}

.container_show{
     margin-left: 0;
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
}
.button_aba{
    height: 36px;
	margin-top: 20px;
	width: 79px;
	background: none repeat scroll 0% 0% #EB8202;
	border: medium none;
	float: right;
	color: #FFF;
	padding: 8px 15px;
	cursor: pointer;
}

.rotacao {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);
 
/* Firefox */
-moz-transform: rotate(-90deg);
 
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}