<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="nl.moreapps.datepicker"
        version="1.0.2">
    <name>Datepicker</name>
    <description>Cordova Datepicker Plugin (iOS + Android)</description>
    <license>Apache 2.0</license>
    <keywords>cordova,datepicker</keywords>
    <author>Dirk-Jan Hoek</author>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Datepicker">
                <param name="android-package" value="nl.moreapps.datepicker.Datepicker"/>
            </feature>
        </config-file>
        <js-module src="www/datepicker.js" name="Datepicker">
            <clobbers target="window.datePicker" />
        </js-module>
        <source-file src="src/android/Datepicker.java" target-dir="src/nl/moreapps/datepicker" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Datepicker">
                <param name="ios-package" value="Datepicker"/>
            </feature>
        </config-file>
        <js-module src="www/ios/datepicker.js" name="Datepicker">
            <clobbers target="window.datePicker" />
        </js-module>
        <header-file src="src/ios/Datepicker.h" />
        <source-file src="src/ios/Datepicker.m" />
    </platform>
</plugin>
